.flag {
    margin: 1rem;
}

.vertical {
    width: 75px;
    height: 150px;
    float: left;
}

.blue {
    background-color: blue;
}
.red {
    background-color: red;
}
.white {
    background-color: white;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
  }