h1, h2, h3, h4, p, a {
    font-family: 'Roboto';
}
.flag {
    margin: 1rem;
    display: flex;
}

.vertical {
    width: 75px;
    height: 150px;
    float: left;
}

.blue {
    background-color: blue;
}
.red {
    background-color: red;
}
.white {
    background-color: white;
}